<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button defaultHref="/ias"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ loadedIAScourse.index }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <!-- Title-->
      <ion-col>        
        <h1> {{ loadedIAScourse.title }}</h1>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- Index-->
          <ion-item>
            <ion-text color="success">Course Index <ion-text color="dark">{{ loadedIAScourse.index }}</ion-text> </ion-text>
          </ion-item>

          <!-- Institute-->
          <ion-item>
            <ion-text color="success">Institute: <ion-text color="dark">{{ loadedIAScourse.institute }}</ion-text> </ion-text>
          </ion-item>

          <!-- Code-->
          <ion-item>
            <ion-text color="success">Course Code: <ion-text color="dark">{{ loadedIAScourse.code }}</ion-text> </ion-text>
          </ion-item>
        
          <!-- MQF-->
          <ion-item>
            <ion-text color="success">MQF: <ion-text color="dark">{{ loadedIAScourse.mqf }}</ion-text> </ion-text>
          </ion-item>

          <!-- Entry Requirements-->
          <ion-item>
            <ion-text color="success">Entry Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedIAScourse.req_entry">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="success">Compulsory Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedIAScourse.req_compulsory">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="success">Preferred Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedIAScourse.req_preferred">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="success">Other Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedIAScourse.req_other">
            {{ er }}
          </ion-item>

          <!-- Description EN. MT-->
          <ion-item>
            <ion-text color="success">Course Description: </ion-text>
          </ion-item>
          <ion-item>
            {{ loadedIAScourse.desc_en }}
          </ion-item>
          <ion-item>
            {{ loadedIAScourse.desc_mt }}
          </ion-item>

          <!-- Careers-->
          <ion-item>
            <ion-text color="success">Careers: <ion-text color="dark">{{ loadedIAScourse.careers }}</ion-text> </ion-text>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
