<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/ica"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ loadedICAcourse.index }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <!-- Title-->
      <ion-col>        
        <h1> {{ loadedICAcourse.title }}</h1>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- Index-->
          <ion-item>
            <ion-text color="primary">Course Index <ion-text color="dark">{{ loadedICAcourse.index }}</ion-text> </ion-text>
          </ion-item>

          <!-- Institute-->
          <ion-item>
            <ion-text color="primary">Institute: <ion-text color="dark">{{ loadedICAcourse.institute }}</ion-text> </ion-text>
          </ion-item>

          <!-- Code-->
          <ion-item>
            <ion-text color="primary">Course Code: <ion-text color="dark">{{ loadedICAcourse.code }}</ion-text> </ion-text>
          </ion-item>
        
          <!-- MQF-->
          <ion-item>
            <ion-text color="primary">MQF: <ion-text color="dark">{{ loadedICAcourse.mqf }}</ion-text> </ion-text>
          </ion-item>

          <!-- Entry Requirements-->
          <ion-item>
            <ion-text color="primary">Entry Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedICAcourse.req_entry">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="primary">Compulsory Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedICAcourse.req_compulsory">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="primary">Preferred Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedICAcourse.req_preferred">
            {{ er }}
          </ion-item>

          <ion-item>
            <ion-text color="primary">Other Requirements:</ion-text>
          </ion-item>
          <ion-item *ngFor="let er of loadedICAcourse.req_other">
            {{ er }}
          </ion-item>

          <!-- Description EN. MT-->
          <ion-item>
            <ion-text color="primary">Course Description: </ion-text>
          </ion-item>
          <ion-item>
            {{ loadedICAcourse.desc_en }}
          </ion-item>
          <ion-item>
            {{ loadedICAcourse.desc_mt }}
          </ion-item>

          <!-- Careers-->
          <ion-item>
            <ion-text color="primary">Careers: <ion-text color="dark">{{ loadedICAcourse.careers }}</ion-text> </ion-text>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
